<div id="<%= dom_id recipe %>">
    <div class="flex flex-col shadow-none lg:shadow-lg lg:min-w-min lg:w-9/12 justify-center break-words overflow-wrap-break-word mx-auto p-2 lg:p-8">
      <div class="flex flex-col lg:flex-row gap-6 mx-auto w-full break-words overflow-wrap-break">
        <div class="w-full lg:3/5">
          <% if recipe.image.attached? %>
            <div style="background-image: url('<%= url_for(recipe.image) %>'); background-size: cover; background-position: center;" class="relative h-100 flex flex-col justify-end mb-4">
          <% else %>
            <div style="background-image: url('<%= asset_path('placeholder.jpg') %>'); background-size: cover; background-position: center;" class="relative h-100 flex flex-col justify-end mb-4">
          <% end %>
            <h1 class="flex flex-row flex-wrap lg:flex-nowrap text-white bg-black/70 py-2">
              <strong class="text-2xl font-small w-full"><%= recipe.name %></strong>
              <span class="mr-0 md:mr-10 w-1/3">
                <button
                  type="button"
                  class="btn btn-xs text-black hover:cursor-pointer"
                  data-controller="toggle-favorite"
                  data-toggle-favorite-target="button"
                  data-toggle-favorite-url-value="<%= toggle_favorite_recipe_path(recipe) %>"
                  data-toggle-favorite-is-favorite-value="<%= recipe.is_favorite %>"
                  data-toggle-favorite-heart-value='<%= render_icon "mini/heart", classes: "text-rose-600" %>'
                  data-toggle-favorite-empty-heart-value='<%= render_icon "mini/empty_heart", classes: "text-rose-600" %>'>
                </button>
              </span>
              <span class=" w-1/3">
                <% if recipe.source.present? %>
                  <%= link_to recipe.source, target: "_blank", rel: "noopener" do %>
                    <%= render_icon "mini/link" %>
                  <% end %>
                <% end %>
              </span>
              <% if recipe.rating.present? %>
                <div class="mb-2 flex flex-row flex-nowrap w-1/3">
                  <div class="flex flex-row">
                    <% recipe.rating.to_i.times do %>
                      <%= render_icon "mini/star", classes: "text-yellow-300" %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </h1>
          </div>
            <div class="flex lg:flex-row flex-col flex-nowrap w-full gap-0 lg:gap-4 text-lg">
              <% %w[yield prep_time cook_time].each do |field| %>
                <%= render partial: "recipes/helpers/prep", locals: { value: recipe.send(field), label: field.titleize }, class: "text-center" %>
              <% end %>
            </div>
          <div class="flex flex-row flex-nowrap justify-start">
            <% recipe.categories.each do |c| %>
              <div class="py-1">
                <p class="bg-yellow-50 text-input-label text-xs font-semibold me-2 px-2.5 py-0.5 rounded-full border border-input-label"><%= c.name %></p>
              </div>
            <% end %>
          </div>
          <% if recipe.description.present? %>
            <p class="my-5">
              <%= simple_format(recipe.description) %>
            </p>
          <% end %>
          <p class="my-5">
            <strong class="block font-small mb-1">Ingredients</strong>
          </p>
          <% if recipe.ingredients.present? %>
            <% recipe.ingredients.split(/\n{2,}/).each do |list| %>
              <div class="mb-3">
                <ul data-controller="list" class="mb-3">
                  <% list.split("\n").each do |item| %>
                    <li data-action="click->list#strike" class="break-words overflow-wrap-break-word
                      w-full lg:w-[40%] min-w-0"><%= item %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
        <div class="w-full lg:w-3/4 flex flex-col mx-0 p-2 lg:p-4 text-lg">
          <p class="my-5">
            <strong class="block font-small mb-1">Directions</strong>
          </p>
          <% if recipe.directions.present? %>
            <% recipe.directions.split(/\n{3,}/).each do |list| %>
              <ol data-controller="list" class="mb-3">
                <% list.split("\n\n").each do |item| %>
                  <li data-list-target="item" data-action="click->list#focus" class="mb-3"><%= item %></li>
                <% end %>
              </ol>
            <% end %>
          <% end %>
          <% if recipe.notes.present? %>
            <p class="my-5">
              <strong class="block font-small mb-1">Notes</strong>
              <% recipe.notes.split(/\n{2,}/) do |note| %>
                <p class="mb-3">
                  <%= note %>
                </p>
              <% end %>
            </p>
          <% end %>
        </div>
    </div>
</div>
