<div id="<%= dom_id recipe %>">
  <% if recipe.rating.present? %>
    <div class="mb-2 flex flex-row flex-nowrap justify-between w-1/5">
      <div class="flex flex-row">
        <% recipe.rating.to_i.times do %>
          <%= render_icon "mini/star", classes: "text-yellow-300" %>
        <% end %>
      </div>
    </div>
  <% end %>

  <h1 class="flex flex-row flex-nowrap">
    <strong class="text-3xl font-small"><%= recipe.name %></strong>
    <div class="recipe-<%= recipe.id %>">
      <button 
        type="button" 
        class="btn btn-xs text-black" 
        data-controller="toggle-favorite" 
        data-toggle-favorite-target="button"
        data-toggle-favorite-url-value="<%= toggle_favorite_recipe_path(recipe) %>" 
        data-toggle-favorite-is-favorite-value="<%= recipe.is_favorite %>" 
        data-toggle-favorite-heart-value='<%= render_icon "mini/heart", classes: "text-rose-600" %>'
        data-toggle-favorite-empty-heart-value='<%= render_icon "mini/empty_heart", classes: "text-rose-600" %>' >
      </button>
    </div>
  </h1>

  <div class="flex flex-row flex-wrap justify-between w-100 py-2">
    <div class="flex flex-row flex-nowrap justify-between w-100">
      <% %w[yield prep_time cook_time].each do |field| %>
        <%= render partial: "recipes/helpers/prep", locals: { value: recipe.send(field), label: field.titleize }, class: "text-center" %>
      <% end %>
    </div>
  </div>

  <div class="flex flex-row flex-nowrap justify-start">
    <% @recipe.categories.each do |c| %>
      <div class="py-1">
        <p class="bg-teal-50 text-teal-900 text-xs font-semibold me-2 px-2.5 py-0.5 rounded-full border border-teal-900"><%= c.name %></p>
      </div>
    <% end %>
  </div>

  <% %w[description ingredients directions notes].each do |field| %>
    <%= render partial: "recipes/helpers/fields", locals: { value: recipe.send(field), label: field.titleize }, class: "text-center" %>
  <% end %>
</div>
