<div id="<%= dom_id recipe %>">
   <% if recipe.rating.present? %>
    <div class="mb-2 flex flex-row flex-nowrap justify-between w-1/5">
      <div class="flex flex-row">
        <% recipe.rating.to_i.times do %>
          <%= render partial: "icons/mini/star", locals: { style: "text-yellow-300" } %>
        <% end %>
      </div>
    </div>
  <% end %>

  <h1 class="flex flex-row flex-nowrap">
    <strong class="text-3xl font-small"><%= recipe.name %></strong>
    <% if recipe.is_favorite? %>
      <%= render partial: "icons/mini/heart", locals: { style: "text-rose-600" } %>
    <% end %>
  </h1>

  <div class="flex flex-row flex-wrap justify-between w-100 py-2">
    <div class="flex flex-row flex-nowrap justify-between w-100">
      <% %W[yield prep_time cook_time].each do |field| %>
        <%= render partial: "recipes/helpers/prep", locals: { value: recipe.send(field), label: field.titleize }, class: "text-center" %>
      <% end %>
    </div>
  </div>

  <div class="flex flex-row flex-nowrap justify-start">
    <% @recipe.categories.each do |c| %>
      <div class="py-1">
        <p class="bg-teal-50 text-teal-900 text-xs font-semibold me-2 px-2.5 py-0.5 rounded-full border border-teal-900"><%= c.name %></p>
      </div>
    <% end %>
  </div>

  <% %W[description ingredients directions notes].each do |field| %>
    <%= render partial: "recipes/helpers/fields", locals: { value: recipe.send(field), label: field.titleize }, class: "text-center" %>
  <% end %>
</div>
