<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="m-1 w-full">
    <%= form_tag recipes_path, method: :get, data: { turbo_frame: :recipes, turbo_action: "advance", controller: "filter" } do |f| %>
      <div class="w-full lg:w-full lg:mb-20">
        <div class="w-full flex justify-center">
          <div class="relative">
              <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <%# <%= render_icon 'images/recipe', classes: "w-4 h-4 text-gray-500" %> 
                <%= image_tag "recipe.png", class: "w-7/12" %>
              </div>
                <%= text_field_tag :query, params[:query], data: { filter_target: "query" }, placeholder: "Search ...", class: "flex-auto block rounded-l-lg px-2.5 pb-2.5 w-full ps-10 text-sm text-gray-900 bg-gray-50 border border-r-0 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer", autocomplete: 'off', autofocus: 'true', type: 'search', onfocus: "this.setSelectionRange(this.value.length,this.value.length);" %>
          </div>
          <div class="relative">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <%# <%= render_icon 'images/recipe', classes: "w-4 h-4 text-gray-500" %> 
                <%= image_tag "recipe.png", class: "w-7/12" %>
              </div>
              <%= select_tag(:category_names, options_from_collection_for_select(Category.all, :name, :name), { data: { controller: "tom-select", 'tom-select-create-value': false }, multiple: true, placeholder: "Select Categories", class: "search-dropdown" }) %>
              <%# <%= text_field_tag :category_names, params[:category_names], data: { filter_target: "category"}, placeholder: "Search Category", class: "flex-auto block rounded-r-lg px-2.5 pb-2.5 w-full ps-10 text-sm text-gray-900 bg-gray-50 border border-l-0 border-grey-600 appearance-none focus:outline-none focus:ring-0 focus:border-secondary peer", autocomplete: 'off', autofocus: 'false', type: 'search', onfocus: "this.setSelectionRange(this.value.length,this.value.length);" %> 
              <%= submit_tag 'submit', class:"hidden" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
    <div id="recipes" class=" flex-column flex-wrap justify-center lg:flex-nowrap">
      <% @recipes.each do |recipe| %>
        <div class="lg:w-3/6 lg:m-auto border border-b-1 border-secondary border-l-0 border-r-0 border-t-0 m-2"><%= link_to recipe.name, recipe, class: "recipe block m-auto pb-1 lg-w-7/12 font-medium mb-1 text-2l p-4 text-left lg:text-left" %></div>
      <% end %>
    </div>
</div>