<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div class="m-1">
    <%= form_tag recipes_path, method: :get, data: { turbo_frame: :recipes, turbo_action: "advance", controller: "filter" } do |f| %>
      <div class="mb-5">
        <div class="lg:w-7/12 flex flex-col justify-center m-auto">
          <div class="relative my-2">
              <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <%= image_tag "recipe.png", class: "w-7/12" %>
              </div>
              <%= text_field_tag :query, params[:query], data: { filter_target: "query" }, placeholder: "Search ...", class: "w-full block rounded-lg px-2.5 pb-2.5 ps-10 text-sm text-gray-900 bg-gray-50 border border-teal-900 appearance-none focus:outline-none focus:ring-0 focus:border-teal-600 peer", autocomplete: 'off', autofocus: 'true', type: 'search', onfocus: "this.setSelectionRange(this.value.length,this.value.length);" %>
          </div>
          <div>
            <%= select_tag(:category_names, options_from_collection_for_select(Category.all, :name, :name), { data: { controller: "tom-select", 'tom-select-create-value': false }, multiple: true, placeholder: "Select Categories" }) %>
          </div>
          <div class="query-btn flex justify-end py-4">
            <%= submit_tag 'submit', class:"float-right inline-flex items-center rounded-lg py-1 px-2 bg-white hover:bg-teal-600 text-teal-900 hover:text-white border border-teal-900 inline-block font-medium cursor-pointer" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div id="recipes" class="flex-column flex-wrap justify-center lg:flex-nowrap">
    <% @recipes.each do |recipe| %>
      <div class="lg:w-3/6 lg:m-auto border border-b-1 border-teal-900 border-l-0 border-r-0 border-t-0 m-2 hover:border-teal-600">
        <%= link_to recipe, class: "recipe block m-auto pb-1 lg-w-7/12 font-medium mb-1 text-2l p-4 text-left lg:text-left" do %>
          <%= recipe.name %>
          <% if recipe.is_favorite? %>
            <%= render_icon "mini/heart", classes: "inline text-rose-600" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
