<div class="form-container lg:w-auto flex flex-col-reverse md:flex-row-reverse lg:flex-row lg:mx-auto justify-center mt-20">
  <%= render @recipe %>
  <div class="pt-0 lg:pt-4 edit-delete-container shadow-xl lg:shadow-none fixed top-22 lg:top-28 bg-black w-full inset-x-0 mx-auto flex flex-row justify-center gap-2">
        <%= link_to edit_recipe_path(@recipe), class: "inline-flex items-center rounded-lg bg-transparent border-none hover:bg-secondary py-1 px-1 text-secondary hover:text-white inline-block font-medium cursor-pointer", aria: { label: "Edit recipe" } do %>
          <%= render_icon "micro/pencil_square", classes: "me-0" %>
          <span>Edit</span>
        <% end %>
        <%= button_to recipe_path(@recipe), method: :delete, data: { turbo_confirm: "Are you sure?" }, aria: { label: "Delete recipe" }, class: "inline-flex rounded-lg bg-transparent border-none items-center py-1 px-1 hover:bg-secondary text-secondary hover:text-white inline-block font-medium cursor-pointer" do %>
          <%= render_icon "micro/trash", classes: "me-0" %>
          <span>Delete</span>
        <% end %>
  </div>
</div>
