<div class="mx-auto md:w-2/3 w-full">
  <div class="flex flex-row justify-between items-center">
    <h1 class="font-bold text-4xl text-secondary">Import Recipe</h1>
    <% if @recipe.source.present? %>
      <%= link_to URI(@recipe.source).to_s, target: "_blank", rel: "noopener" do %>
        <%= render_icon "mini/link" %>
      <% end %>
    <% end %>
  </div>

  <%= render "form", recipe: @recipe %>

  <%= link_to 'javascript:history.back()', class: "inline-flex items-center rounded-lg py-2 px-3 bg-white hover:bg-secondary text-secondary hover:text-white border border-secondary inline-block font-medium cursor-pointer" do %>
    <%= render_icon "micro/arrow_uturn_left", classes: "me-1" %> Back
  <% end %>
</div>
