<nav class="w-full z-20 top-0 fixed">
  <div class="max-w-(--breakpoint-xl) flex flex-wrap items-center justify-between mx-auto p-2">
   <div class="flex items-center">
      <%= link_to root_path, class: "group inline-block mx-4 p-[4px] rounded-full flex flex-row flex-nowrap items-center text-gray-300" do %>
        <div class="size-20 rounded-full bg-transparent flex items-center justify-center">
          <%= image_tag "Mamezefu-02.png", class: "h-full w-full object-contain rounded-full rounded-full border-2 border-gray-200 group-hover:border-secondary transform duration-500" %>
        </div>
        <span class="font-semibold relative ml-2 group-hover:text-secondary transform duration-500">MameZefu</span>
      <% end %>
    </div>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center justify-center rounded-lg p-3 text-white md:hidden  hover:text-secondary focus:outline-hidden focus:ring-2 focus:ring-inset focus:ring-secondary" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
        </svg>
    </button>
    <div class="hidden w-full lg:w-6/12 md:block md:w-auto" id="navbar-default">
      <ul class="font-medium lg:w-full lg:h-full lg:justify-end text-gray-200 flex flex-col justify-around p-4 md:p-0 mt-4 mr-7 border border-white rounded-lg md:flex-row rtl:space-x-reverse md:mt-0 md:border-0">
        <% if signed_in? %>
          <li>
            <%= link_to new_recipe_path, class: "group relative block flex items-center mt-3 px-3 text-gray-200" do %>
              <span class="flex items-center">
                <%= render_icon "mini/plus", classes: "mx-1 transition-colors duration-300 group-hover:text-secondary" %>
                <span class="relative overflow-hidden">
                  <span class="block transition-colors duration-300 group-hover:text-transparent">New Recipe</span>
                  <span class="absolute inset-0 text-secondary transform origin-left scale-x-0 group-hover:scale-x-100 transition-transform duration-400 flex items-center justify-start">
                    New Recipe
                  </span>
                </span>
              </span>
              <span class="absolute bottom-0 left-3 right-3 h-0.5 bg-secondary transform origin-left scale-x-0 group-hover:scale-x-100 transition-transform duration-300"></span>
            <% end %>
          </li>
          <li>
            <%= link_to web_search_recipes_path, class: "group relative block flex items-center mt-3 px-3 text-gray-200" do %>
              <span class="flex items-center">
                <%= render_icon "mini/globe_alt", classes: "mx-1 transition-colors duration-300 group-hover:text-secondary" %>
                <span class="relative overflow-hidden">
                  <span class="block transition-colors duration-300 group-hover:text-transparent">Import</span>
                  <span class="absolute inset-0 text-secondary transform origin-left scale-x-0 group-hover:scale-x-100 transition-transform duration-300 flex items-center">
                    Import
                  </span>
                </span>
              </span>
              <span class="absolute bottom-0 left-3 right-3 h-0.5 bg-secondary transform origin-left scale-x-0 group-hover:scale-x-100 transition-transform duration-300"></span>
            <% end %>
          </li>
          <li>
            <%= link_to archive_upload_recipes_path, class: "group relative block flex items-center mt-3 px-3 text-gray-200" do %>
              <span class="flex items-center">
                <%= render_icon "mini/arrow_up_tray", classes: "mx-1 transition-colors duration-300 group-hover:text-secondary" %>
                <span class="relative overflow-hidden">
                  <span class="block transition-colors duration-300 group-hover:text-transparent">Upload</span>
                  <span class="absolute inset-0 text-secondary transform origin-left scale-x-0 group-hover:scale-x-100 transition-transform duration-300 flex items-center">
                    Upload
                  </span>
                </span>
              </span>
              <span class="absolute bottom-0 left-3 right-3 h-0.5 bg-secondary transform origin-left scale-x-0 group-hover:scale-x-100 transition-transform duration-300"></span>
            <% end %>
          </li>
          <% if current_user&.is_admin? %>
            <li>
              <%= link_to admin_root_path, class: "group relative block flex items-center mt-3 px-3 text-gray-200" do %>
                <span class="flex items-center">
                  <%= render_icon "mini/key", classes: "mx-1 transition-colors duration-300 group-hover:text-secondary" %>
                  <span class="relative overflow-hidden">
                    <span class="block transition-colors duration-300 group-hover:text-transparent">Admin</span>
                    <span class="absolute inset-0 text-secondary transform origin-left scale-x-0 group-hover:scale-x-100 transition-transform duration-300 flex items-center">
                      Admin
                    </span>
                  </span>
                </span>
                <span class="absolute bottom-0 left-3 right-3 h-0.5 bg-secondary transform origin-left scale-x-0 group-hover:scale-x-100 transition-transform duration-300"></span>
              <% end %>
            </li>
          <% end %>
          <li>
            <%= button_to sign_out_path, method: :delete, class: "group relative inline-flex lg:border-l-2 border-gray-200 text-stroke-3 stroke-gray-200 text-gray-200 items-center mt-3 px-3" do %>
              <span class="relative z-10 flex items-center">
                <span class="mr-1 transition-all duration-300 group-hover:text-secondary group-hover:stroke-secondary group-hover:scale-110">
                  <%= render_icon "mini/sign_out", classes: "w-4 h-4" %>
                </span>
                <span class="relative overflow-hidden">
                  <span class="block transition-colors duration-300 group-hover:text-transparent">Sign out</span>
                  <span class="absolute inset-0 text-secondary transform origin-left scale-x-0 group-hover:scale-x-100 transition-transform duration-300 flex items-center">
                    Sign out
                  </span>
                </span>
              </span>
              <span class="absolute bottom-0 left-3 right-3 h-0.5 bg-secondary transform origin-left scale-x-0 group-hover:scale-x-100 transition-transform duration-300"></span>
            <% end %>
        <% else %>
          <li>
            <%= link_to sign_in_path, class: "group relative inline-flex border-l-2 border-gray-200 text-stroke-3 stroke-gray-200 text-gray-200 items-center mt-3 px-3 transform duration-300 hover:text-secondary" do %>
              <span class="relative z-10 flex items-center transition-colors duration-300 group-hover:text-seoncdary hover:stroke-secondary">
                <%= render_icon "mini/sign_in", classes: "mr-1 w-4 h-4" %>
                Sign In
              </span>
              <span class="absolute bottom-0 left-3 right-3 h-0.5 bg-secondary transform origin-left scale-x-0 group-hover:scale-x-100 transition-transform duration-300"></span>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
