<!DOCTYPE html>
<html>
  <head>
    <title>MameZefu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-prefetch" content="false">
    <%= favicon_link_tag asset_path("Mamezefu-02.png") %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", 'data-turbo-track': "reload" %>
    <%= stylesheet_link_tag "application", 'data-turbo-track': "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-gray-50">
    <header>
      <%= render "layouts/navigation" %>
    </header>
    <main class="container mx-auto mt-32 mb-16 px-5 flex flex-col flex-nowrap">
      <%= render partial: "recipes/helpers/flash" %>
      <%= yield %>
    </main>
  </body>
</html>
